---
import { getCollection, render } from 'astro:content'
import Layout from '@/layouts/Layout.astro'

export async function getStaticPaths() {
    const posts = await getCollection('blog')
    return posts.map(post => ({
        params: { slug: post.slug },
        props: { post }
    }))
}

const { post } = Astro.props
const { title, date, author, avatar } = post.data

const { Content } = await render(post)
---

<Layout>
  
  <section class="max-w-2xl mx-auto mt-20 px-4">
  
    <h1 class="text-4xl md:text-5xl font-extrabold mb-10 custom-gradient text-transparent bg-clip-text text-center">
      {title}
    </h1>

  
  

    <div class="flex items-center gap-4 mb-10 bg-accent/10 rounded-lg px-6 py-4 ">
      <img src={avatar} alt={`Avatar de ${author}`} class="w-14 h-14 rounded-full border-2 border-accent shadow" />
      <div>
        
        <div class="font-semibold text-lg">{author}</div>
        <div class="text-xs text-muted-foreground">{new Date(date).toLocaleDateString()}</div>
      </div>
    </div>
    
  


    <article
      class="prose prose-neutral dark:prose-invert max-w-none leading-relaxed font-sans
        [&>h1]:text-5xl [&>h1]:font-extrabold [&>h1]:mb-8
        [&>h2]:text-4xl [&>h2]:font-bold [&>h2]:mb-7 [&>h2]:mt-10
        [&>h3]:text-3xl [&>h3]:font-semibold [&>h3]:mb-5 [&>h3]:mt-8
        [&>ul]:pl-6 [&>ul]:list-disc [&>ul]:mb-6
        [&>span]:mb-5 text-xl
      "
    >
      <Content/>
    </article>
  </section>
</Layout>